@model StudentRegister.Models.Student

@{
    ViewBag.Title = "Confirm";
}

<h2>Registration Complete</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudyMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyMode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isErasmus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isErasmus)
        </dd>
    </dl>
</div>
@Html.ActionLink("Register More", "Register")

